body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.montar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.upload-box {
    width: 100%;
    max-width: 400px;
    padding: 40px;
    border: 2px dashed #007bff;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.upload-box:hover {
    border-color: #0056b3;
}

.upload-box input[type="file"] {
    display: none;
}

.upload-box p {
    margin: 0;
    font-size: 18px;
    color: #007bff;
}

.upload-box.dragover {
    border-color: #0056b3;
    background-color: #e0e0e0;
}

.preview {
    margin-top: 20px;
    text-align: center;
}

.preview img {
    max-width: 100%;
    max-height: 300px;
    border: 2px solid #007bff;
    border-radius: 10px;
    margin-bottom: 10px;
}

.images-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.centered-button {
    display: block;
    margin: 20px auto; /* Centra el botón horizontalmente */
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.centered-button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: auto;
}